<% setting.routes.forEach((r, i) => { %>
<tr>
    <% if (i == setting.dri) { %>
    <td>
        <input type="radio" name="defaultRoute" value="<%= i %>" checked>
    </td>
    <% } else { %>
    <td>
        <input type="radio" name="defaultRoute" value="<%= i %>">
    </td>
    <% } %>
    <td><%= r.name %></td>
    <td class="not-mobile" data-value="<%= r.routeStart %>"><%= r.routeStart %></td>
    <td class="not-mobile" data-value="<%= r.routeEnd %>"><%= r.routeEnd %></td>
    <td class="not-mobile" data-value="<%= r.distance %>"><%= r.distance %> km</td>
    <td data-value="<%= r.cost %>"><%= r.cost %> zl</td>
    <td data-value="<%= r.aCost %>"><%= r.aCost %> zl</td>
    <td class="not-mobile" data-value="<%= r.passengers %>"><%= r.passengers %></td>
    <td class="settings-button">
        <button class="settingsDelete" value="<%= r._id %>">&#x2796</button>
    </td>
</tr>
<% }) %>
