<% setting.routes.forEach((r) => { %>
<tr>
    <td><%= r.name %></td>
    <td class="not-mobile"><%= r.routeStart %></td>
    <td class="not-mobile"><%= r.routeEnd %></td>
    <td class="not-mobile"><%= r.distance %> km</td>
    <td><%= r.cost %> zl</td>
    <td><%= r.aCost %> zl</td>
    <td class="not-mobile"><%= r.passengers %></td>
    <td class="settings-button">
        <button class="settingsDelete" value="<%= r._id %>">&#x2796</button>
    </td>
</tr>
<% }) %>
