<!--////////////////////////////////////////////////////////////////////////////
///                                 TripSplit                                 //
////////////////////////////////////////////////////////////////////////////////
//        Author: Marcin Żemlok
//         Email: marcinzemlok@gmail.com
//       Version: 1.0
//
//   Description: TripSplit application user interface.
//
// Creation date: 19/02/2020
================================== CHANGE LOG ==================================
// [19/02/2020]        Marcin Żemlok
    Initial change log entry.                                                 //
/////////////////////////////////////////////////////////////////////////////-->

<%- include ("partials/header") -%>

<div class="nav-container">
    <a href="#home" class="mn-button">Home</a>
    <a href="#trip" class="mn-button">Add New</a>
    <a href="#settings" class="mn-button">Settings</a>
</div>

<!----------------------------------------------------------------------------->
<!-- SETTINGS                                                               -->
<!--------------------------------------------------------------------------->
<div class="tab" id="settings" style="top: 0px">
    <h1>Settings.</h1>

    <form id="settings-form">
        <label>Route name</label>
        <input type="text" name="routeName" placeholder="My route">

        <label>Route start</label>
        <input type="text" name="routeStart" placeholder="Route start">

        <label>Route end</label>
        <input type="text" name="routeEnd" placeholder="Route end">

        <label>Distance between locations [km]</label>
        <input type="number" name="distance" placeholder="0" step=".1">

        <label>Cost per kilometer [zl/km]</label>
        <input type="number" name="cost" placeholder="0" step=".01">

        <label>Additional cost per trip [zl]</label>
        <input type="number" name="aCost" placeholder="0" step=".01">

        <label>Number of passangers</label>
        <input type="number" name="passengers" placeholder="0" step="1">

        <input type="submit" name="settingsUpdate" value="ADD">
    </form>

    <h3>Your Routes</h3>
    <table>
        <tr>
            <th>Name</th>
            <th class="not-mobile">Route Start</th>
            <th class="not-mobile">Route End</th>
            <th class="not-mobile">Distance</th>
            <th>Cost</th>
            <th>Additional Cost</th>
            <th class="not-mobile">Passengers</th>
            <th></th>
        </tr>
        <% setting.routes.forEach((r) => { %>
        <tr>
            <td><%= r.name %></td>
            <td class="not-mobile"><%= r.routeStart %></td>
            <td class="not-mobile"><%= r.routeEnd %></td>
            <td class="not-mobile"><%= r.distance %> km</td>
            <td><%= r.cost %> zl</td>
            <td><%= r.aCost %> zl</td>
            <td class="not-mobile"><%= r.passengers %></td>
            <td class="settings-button">
                <button class="settingsDelete" value="<%= r._id %>">-</button>
            </td>
        </tr>
        <% }) %>
    </table>
</div>

<!----------------------------------------------------------------------------->
<!-- TRIP                                                                   -->
<!--------------------------------------------------------------------------->
<div class="tab" id="trip" style="top: 0px">
    <h1>Add new trip.</h1>

    <form id="trip-form">
        <label>Trip date</label>
        <input type="date" name="date" value="<%= date %>">

        <label>Route name</label>
        <select name="routeName">
            <% setting.routes.forEach((l, i) => { %>
            <option value="<%= l.name %>" data-index="<%= i %>"><%= l.name %></option>
            <% }) %>
        </select>

        <label>Route start</label>
        <input type="text" name="routeStart" value="<%= setting.routes[0].routeStart %>" data-index="0">

        <label>Route end</label>
        <input type="text" name="routeEnd" value="<%= setting.routes[0].routeEnd %>" data-index="0">

        <label>Distance</label>
        <input type="number" name="distance" value="<%= setting.routes[0].distance %>" step=".1" data-index="0">

        <label>Cost</label>
        <input type="number" name="cost" value="<%= setting.routes[0].cost %>" step=".01" data-index="0">

        <label>Additional Cost</label>
        <input type="number" name="aCost" value="<%= setting.routes[0].aCost %>" step=".01" data-index="0">

        <label>Passengers</label>
        <input type="number" name="passengers" value="<%= setting.routes[0].passengers %>" step="1" data-index="0">

        <input type="submit" value="SAVE">
    </form>

    <h1>Add new payment.</h1>

    <form id="payment-form">
        <input type="date" name="date" value="<%= date %>">
        <input type="submit" value="SAVE">
    </form>
</div>

<!----------------------------------------------------------------------------->
<!-- HOME                                                                   -->
<!--------------------------------------------------------------------------->
<div class="tab" id="home" style="top: 0px">
    <div class="summary-container">
        <div>
            <h6>Rides cost</h6>
            <%= summary.cost %> zl
        </div>
        <div>
            <h6>Distance traveled</h6>
            <%= summary.distance %> km
        </div>
        <div>
            <h6>Rides timespan</h6>
            <%= summary.timeString %>
        </div>
    </div>

    <div class="graph-container">
        <h6>Graph</h6>
    </div>

    <table>
        <tr>
            <th>Date</th>
            <th>Name</th>
            <th class="not-mobile">Route Start</th>
            <th class="not-mobile">Route End</th>
            <th class="not-mobile">Distance</th>
            <th>Cost</th>
            <th class="not-mobile">Passengers</th>
            <th></th>
        </tr>
        <% trips.forEach((r) => { %>
        <tr>
            <td><%= r.date.toLocaleString("pl-PL", {year: "numeric", month: "2-digit", day: "2-digit"}) %></td>
            <td><%= r.route.name %></td>
            <td class="not-mobile"><%= r.route.routeStart %></td>
            <td class="not-mobile"><%= r.route.routeEnd %></td>
            <td class="not-mobile"><%= r.route.distance %> km</td>
            <td><%= r.route.cost %> zl</td>
            <td class="not-mobile"><%= r.route.passengers %></td>
            <td class="settings-button">
                <button class="homeDelete" value="<%= r._id %>">-</button>
            </td>
        </tr>
        <% }) %>
    </table>
</div>

<%- include ("partials/footer") -%>
