<!--////////////////////////////////////////////////////////////////////////////
///                                 TripSplit                                 //
////////////////////////////////////////////////////////////////////////////////
//        Author: Marcin Żemlok
//         Email: marcinzemlok@gmail.com
//       Version: 1.1
//
//   Description: TripSplit application user interface.
//
// Creation date: 19/02/2020
================================== CHANGE LOG ==================================
// [19/02/2020]        Marcin Żemlok
        Initial change log entry.                                            ///
--------------------------------------------------------------------------------
// [22/02/2020]        Marcin Żemlok
        * Changed forms layout.
        * Tables rows and summary are rendered from partials.                ///
/////////////////////////////////////////////////////////////////////////////-->

<%- include ("partials/header") -%>

<div class="nav-container">
    <a href="#home" class="mn-button">Home</a>
    <a href="#trip" class="mn-button">Add New</a>
    <a href="#settings" class="mn-button">Settings</a>
</div>

<!----------------------------------------------------------------------------->
<!-- SETTINGS                                                               -->
<!--------------------------------------------------------------------------->
<div class="tab" id="settings" style="top: 0px">
    <h1>Settings.</h1>

    <form id="settings-form">
        <table>
            <tbody>
                <tr>
                    <td>
                        <label>Route name</label>
                    </td>
                    <td>
                        <input type="text" name="routeName" placeholder="My route">
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>Route start</label>
                    </td>
                    <td>
                        <input type="text" name="routeStart" placeholder="Route start">
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>Route end</label>
                    </td>
                    <td>
                        <input type="text" name="routeEnd" placeholder="Route end">
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>Distance between locations</label>
                    </td>
                    <td>
                        <input type="number" name="distance" placeholder="0" step=".1">
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>Cost per distance unit</label>
                    </td>
                    <td>
                        <input type="number" name="cost" placeholder="0" step=".01">
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>Additional cost per trip [zl]</label>
                    </td>
                    <td>
                        <input type="number" name="aCost" placeholder="0" step=".01">
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>Number of passangers</label>
                    </td>
                    <td>
                        <input type="number" name="passengers" placeholder="0" step="1">
                    </td>
                </tr>
            </tbody>
        </table>

        <input type="submit" name="settingsUpdate" value="ADD">
    </form>

    <h3>Your Routes</h3>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th class="not-mobile">Route Start</th>
                <th class="not-mobile">Route End</th>
                <th class="not-mobile">Distance</th>
                <th>Cost</th>
                <th>Additional Cost</th>
                <th class="not-mobile">Passengers</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <%- include("partials/routes") -%>
        </tbody>
    </table>
</div>

<!----------------------------------------------------------------------------->
<!-- TRIP                                                                   -->
<!--------------------------------------------------------------------------->
<div class="tab" id="trip" style="top: 0px">
    <h1>Add new trip.</h1>

    <form id="trip-form">
        <table>
            <tbody>
                <tr>
                    <td>
                        Trip date
                    </td>
                    <td>
                        <input type="date" name="date" value="<%= date %>">
                    </td>
                </tr>
                <tr>
                    <td>
                        Route name
                    </td>
                    <td>
                        <select name="routeName">
                            <% setting.routes.forEach((l, i) => { %>
                            <option value="<%= l.name %>" data-index="<%= i %>"><%= l.name %></option>
                            <% }) %>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>
                        Route start
                    </td>
                    <td>
                        <input type="text" name="routeStart" value="<%= setting.routes[0].routeStart %>" data-index="0">
                    </td>
                </tr>
                <tr>
                    <td>
                        Route end
                    </td>
                    <td>
                        <input type="text" name="routeEnd" value="<%= setting.routes[0].routeEnd %>" data-index="0">
                    </td>
                </tr>
                <tr>
                    <td>
                        Distance
                    </td>
                    <td>
                        <input type="number" name="distance" value="<%= setting.routes[0].distance %>" step=".1"
                            data-index="0">
                    </td>
                </tr>
                <tr>
                    <td>
                        Cost
                    </td>
                    <td>
                        <input type="number" name="cost" value="<%= setting.routes[0].cost %>" step=".01"
                            data-index="0">
                    </td>
                </tr>
                <tr>
                    <td>
                        Additional Cost
                    </td>
                    <td>
                        <input type="number" name="aCost" value="<%= setting.routes[0].aCost %>" step=".01"
                            data-index="0">
                    </td>
                </tr>
                <tr>
                    <td>
                        Passengers
                    </td>
                    <td>
                        <input type="number" name="passengers" value="<%= setting.routes[0].passengers %>" step="1"
                            data-index="0">
                    </td>
                </tr>
            </tbody>
        </table>

        <input type="submit" value="SAVE">
    </form>

    <h1>Add new payment.</h1>

    <form id="payment-form">
        <input type="date" name="date" value="<%= date %>">
        <input type="submit" value="SAVE">
    </form>
</div>

<!----------------------------------------------------------------------------->
<!-- HOME                                                                   -->
<!--------------------------------------------------------------------------->
<div class="tab" id="home" style="top: 0px">
    <div class="summary-container">
        <%- include("partials/summary") -%>
    </div>

    <div class="graph-container">
        <h6>Graph</h6>
    </div>

    <table>
        <thead>
            <tr>
                <th>Date</th>
                <th>Name</th>
                <th class="not-mobile">Route Start</th>
                <th class="not-mobile">Route End</th>
                <th class="not-mobile">Distance</th>
                <th>Cost</th>
                <th class="not-mobile">Passengers</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <%- include("partials/trips") -%>
        </tbody>
    </table>
</div>

<%- include ("partials/footer") -%>
